/* FOOTER STYLE */

.footer {
  background-color: #efefef;
  border-top: #e0e0e0 1px solid;
  flex-basis: 50px;
  padding: 20px 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-size: 14px;
}

#qlattes-version {
  justify-self: end;
  display: flex;
  gap: 10px;
}

#github-logo {
  width: 15px;
  height: auto;
  margin: 5px;
}

p {
  margin-block: unset;
}

.footer-section-header {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}
