
/* HEADER STYLES */

.header {
  background-color: #efefef;
  border-bottom: #e0e0e0 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  flex-basis: 50px;
  flex: 0 ;
  padding: 10px;
}

.tab {
  flex-grow: 1;
  gap: 50px;
  display: flex;
  justify-content: center;
  color: black;
}

.tablinks {
  border: none;
  color: black;
  font-style: normal;
  padding: 5px;
  display: table;
}

.active {
  color: var(--tab-bg-color);
  border-bottom: 1px solid;
  border-color: var(--tab-bg-color);
}

.logo {
  margin-left: 10px;
}

#github-logo {
  width: 15px;
  height: auto;
  margin: 5px;
}

#qlattes-version {
  display: flex;
  align-items: center;
}

.children {
  border: none;
}

.footer-section {
  font-size: 13px;
  text-align: end;
  margin-right: 10px;
}

.footer-section p {
  margin: 0;
}

.tab-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding-inline-start: 0;
}

.tab-list li {
  flex: 1;
  text-align: center;
  width: 100%; 
  cursor: pointer;
}

.tab-list li:first-child {
  width: auto; 
}

.child-wrapper {
  position: absolute;
  background: #efefef;
  padding: 10px;
  list-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 4px;
}

.parent.active {
  opacity: rgba(239, 239, 239, 0.5)
}