/* GENERAL */

:root {
  --main-bg-color: #415e98;
  --main-accent-color: var(--main-bg-color);
  --main-hover-color: #2c4c8c;
  --tab-bg-color: var(--main-bg-color);
  --year-input-width: 62px;
  --period-select-width: 227px;
  --stats-table-max-height: 50vh;
  --top-paper-table-min-width: 670px;
  --qualis-table-min-width: 655px;
  --qualis-table-data-cols-width: 40px;
  --qualis-table-total-cols-width: 50px;
  --score-table-min-width: 720px;
  --score-table-data-cols-width: 55px;
  --score-table-total-cols-width: 65px;
  font-size: 15px;
}

/** Mozilla Firefox root settings */
@-moz-document url-prefix() {
  :root {
    --year-input-width: 68px;
    --period-select-width: 216px;
    --stats-table-max-height: 240px;
    font-size: 15px;
  }
}

body {
  margin: 0px;
}

.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0px;
}

.logo {
  height: 40px;
  pointer-events: none;
}

.logo-text {
  margin: -4px -2px;
  width: 90px;
}

a {
  color: var(--main-bg-color);
  cursor: pointer;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 0px;
  color: var(--main-bg-color);
}

.text-centered {
  text-align: center;
}

/* CONTENT STYLES */

.content {
  flex-grow: 1;
  text-align: left;
  margin: 30px 15px;
}
.content.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content-text {
  margin: 30px 10%;
}

/* FORM STYLES */

#form-filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

#clear-data-button {
  color: var(--main-bg-color);
  background: rgba(204, 204, 204, 0);
  padding: 0px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

#clear-data-button:hover {
  color: var(--main-hover-color);
}

.select-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.select-icon svg {
  transform: translateX(25px);
}

select {
  white-space: normal;
  width: 250px;
  word-wrap: break-word;
  height: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  accent-color: var(--main-accent-color);
  font-size: 15px;
}

input[type='text'] {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 28px;
  min-width: 322px;
  font-size: 15px;
}

.year-input {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 28px;
  width: var(--year-input-width);
  accent-color: var(--main-accent-color);
  font-size: 15px;
}

.year-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 18px;
  gap: 5px;
}

#total-pubs-div {
  margin: 10px;
  margin-left: 12px;
}

/* TABLE STYLES */

.table-wrapper {
  margin: 10px auto;
  max-width: 60%;
  min-width: 50%;
}

.styled-table-text {
  margin: 0px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  table-layout: fixed;
}

.styled-table-text th, .styled-table-text td {
  text-align: center;
  padding: 2px 6px;
}

.styled-table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  width: 100%;
}

.styled-table th, .styled-table td {
  padding: 1px 10px;
  text-align: left;
}

.styled-table tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 5px 0px;
}

.styled-table thead, .styled-table-text thead {
  background-color: var(--main-bg-color);
  color: #ffffff;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even), .styled-table-text tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tfoot {
  border-top: 2px solid var(--main-bg-color);
}

.styled-table tfoot {
  border-bottom: 2px solid var(--main-bg-color);
}

.styled-table td[type='number'], .styled-table th[type='number'] {
  width: 20px;
}

.styled-table td[type='year'], .styled-table th[type='year'] {
  width: 45px;
}

.styled-table td[type='issn'], .styled-table th[type='issn'] {
  width: 80px;
}

.styled-table td[type='qualis'], .styled-table th[type='qualis'] {
  width: 40px;
  text-align: center;
}

.styled-table td[type='data'], .styled-table th[type='data'],
.styled-table td[type='total'], .styled-table th[type='total'] {
  text-align: center;
}

/* TABLE SCROLL STYLES */

.styled-table.has-scroll tbody {
  display: block;
  max-height: var(--stats-table-max-height);
  overflow-y: auto;
}

.styled-table.has-scroll thead tr, .styled-table.has-scroll tfoot tr {
  width: calc(100% - 18px);
}

/* GRAPHIC */

.canvasjs-chart-credit, .canvasjs-chart-toolbar {
  display: none !important;
}